
<%= bootstrap_form_for @post, url: "/home/create" do |p|%>

  <div class="field">
      <%= p.text_area :content, label: "入力してください" %>
    </div>

    <div class="actions">
      <%= p.submit "投稿" %>
    </div>
<%end%>



