<div class="alert alert-primary" role="alert">
    <strong><%=@post.content%></strong>
</div>

<p>
  <% if @post.image_path_url != nil%>
  <%= image_tag(@post.image_path_url) %>
  <% end %>
</p>

<p>投稿者 <%=@user.name%> </p>
