<%=form_tag("/login") do%>
    <p>メールアドレス</p>
    <input type="email" name="mail" value="<%= @mail %>">
    <p>パスワード</p>
    <input type="password" name="pass">
    <p><button type="submit">ログイン</p>
<%end%>