<%= bootstrap_form_for @image,url: "/images" do |i|%>

    <div class="field">
      <%= i.text_field :message, label: "画像のタイトル" %>
    </div>

    <div class="field">
      <%= i.file_field :image_path,id: :message_image_path%>
    </div>

    <div class="actions">
      <%= i.submit "画像投稿" %>
    </div>　　　　　　　
<%end%>

